	.box {
			display: flex;
	}
	
	.jumbotron {
		background-color: yellow;
		color: black;
		margin-top: 50px;
	}

	footer {
		padding: 10px 10px 0 10px;
		background-color: yellow;
		margin-bottom: 0px;
		/*color: black;	*/
		margin-top: 10px;
	}
	

	.card-hotel{
		flex: 1 200px;
		/*padding: 2px 0px 2px 0px;*/
		margin-top: 10px;
		/*flex-column;*/
	}
	
	.btn-reserve{
		width: 100%;
		border-radius: 0px;
		/*position: absolute;
		left: 0;
		bottom: 0;*/
	}
	
	.footer-address-icon{
		padding-right: 10px;
	}
   /*.btn {
		color: yellow;
		background-color: green;
	} */	
	.tab-content{
		padding-top: 10px;
	}	