@yellow: #fffa19;
@red: #F83910;
@green: #58DB13;

.margenes(@top: 0px, @bottom: 0px){
		margin-bottom: @top;
		margin-top: @bottom;
	}
	
	.jumbotron {
		background-color: @yellow;
		color: black;
		.margenes(50px, 0px,);
		/*margin-top: 50px;
		margin-bottom: 0px;*/	
	}

	footer {
		padding: 10px 10px 0 10px;
		background-color: @yellow;
		.margenes(10px, 0px,);
		/*margin-bottom: 0px;
		margin-top: 10px;*/
	}
	

	.card-hotel{
		flex: 1 200px;
		.margenes(10px, 0px,);
		/*margin-top: 10px;*/

	}
	
	.btn-reserve{
		width: 100%;
		border-radius: 0px;
	}
	
	.footer-address-icon{
		padding-right: 10px;
	}
	
	.tab-content{
		padding-top: 10px;
	}		