$yellow: #fffa19;

@mixin margenes($top, $bottom){
		margin-bottom: $bottom;
		margin-top: $top;
	}

	.jumbotron {
		background-color: $yellow;
		color: black;
		@include margenes(50px, 0px);/* margin-top: 50px; */
		
	}

	footer {
		padding: 10px 10px 0 10px;
		background-color: $yellow;
		@include margenes(10px, 0px);
		/* margin-bottom: 0px;
		   margin-top: 10px;*/
	}
	

	.card-hotel{
		flex: 1 200px;
		/*padding: 2px 0px 2px 0px;*/
		@include margenes(10px, 0px); /* margin-top: 10px;*/
		/*flex-column;*/
	}
	
	.btn-reserve{
		width: 100%;
		border-radius: 0px;
		/*position: absolute;
		left: 0;
		bottom: 0;*/
	}
	
	.footer-address-icon{
		padding-right: 10px;
	}
	.tab-content{
		padding-top: 10px;
	}		